@model DashboardControlModel

@using DevExpress.DashboardWeb;
@using System.Web.Mvc;
@using System.Web.UI.WebControls;

@{
    Layout = "../Shared/_Layout.cshtml";
}

<script type="text/javascript">
    var baseDevExpressDemoUrl = '@(Request.Url.GetLeftPart(UriPartial.Authority) + Url.Content("~"))';
</script>

<div style="position: absolute; left:0;top:0;right:0;bottom:0;">
    @Html.DevExpress().Dashboard(settings => {
    settings.Name = "dashboardControl";
    settings.ControllerName = "DefaultDashboard";
    settings.InitialDashboardId = String.IsNullOrEmpty(Model.DashboardId) ? "Presidents" : Model.DashboardId;
    settings.Width = Unit.Percentage(100);
    settings.Height = Unit.Percentage(100);
    settings.WorkingMode = Model.WorkingMode;
    settings.AllowExportDashboardItems = false;
    settings.ClientSideEvents.BeforeRender = "onBeforeRender";
}).GetHtml()
</div>